/* ini css */
:root {
  --underweight: orange;
  --normal: green;
  --overweight: lightcoral;
  --obese: crimson;
}

.main-tittle {
  text-align: center;
}

main {
  display: flex;
}

form {
  padding: 12px;
  background-color: rgb(202, 246, 252);
}

aside {
  padding: 48px;
}

.button1 {
  height: 25px;

  border: none;
  border-radius: 4px;
}

.form-btn-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-consilk {
  background-color: darkturquoise;
}

.bg-reset {
  background-color: rgb(218, 62, 62);
  color: white;
}

.output {
  text-align: center;
}

.output #bmi {
  font-size: 4rem;
}

.output #desc strong {
  text-transform: uppercase;
}

.bmi-scale {
  display: flex;
}

.bmi-scale div {
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  border-top: 5px solid var(--color);
  padding: 10px;
}

.bmi-scale h4 {
  font-size: 0.75rem;
  color: slategray;
}

footer {
  text-align: center;
}
